<!--
  Generated template for the WhatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
      <ion-navbar color="mixolo">
        
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content color="mixolo" class="host_an_event_page make_personal" padding >
        <h1 text-center>Make It Personal </h1>
        
        <b>We're so glad you're here. Let's get started on designing. </b><br> 
        We'll guide you through each step and provide tips along the way to help you create a personal experience for your
        guests. You can save, exit and return to the event builder at any time.

        <ion-item no-lines><ion-label>WHERE?</ion-label></ion-item>
        <ion-item no-lines> 
        <ion-select class="where_select" [(ngModel)]="where_select" placeholder="SELECT">
            <ion-option  *ngFor="let city of cityList">{{city}}</ion-option> 
        </ion-select>
    </ion-item>  
    <ion-item no-lines><ion-label>TYPE</ion-label></ion-item>
    <ion-item no-lines>
        <ion-select class="where_select" [(ngModel)]="type_select" placeholder="SELECT">
            <ion-option  *ngFor="let interest of interestList" value="{{interest.ID}}">{{interest.Interest}}</ion-option> 
        </ion-select>
    </ion-item><br>

        <div center text-center>
<button ion-button color="danger" (click)="goNext()" full>NEXT</button>
        </div>
    </ion-content>
    