.where_select{
    max-width:100% !important;
    border:1px solid lightgrey !important;
    width:100%; 
}

.make_personal ion-label{
    display: block !important;
}

.make_personal ion-item{
    background:transparent !important;
} 

.make_personal ion-item ion-label{
    display:block !important;
}