page-home {

}

.mixolo-background{
    background:#93BCC5 !important;
    color:white; 
}

.logo-playground{
    text-align: center;
    margin-top:120px;
}

.login-box{
     width:70%;
     margin:auto;
     margin-bottom:28%;
}

.login-box ion-input,.login-box ion-input ion-datetime, .host_an_event_page ion-input{
    border:1px solid lightgrey;
    background:white;
    color:#333;
    padding:5px;
}

.wide-box{
    width:90%;
    margin:auto;
    margin-bottom:28%;
}
.datetime-ios{
    padding: 16px 14px 14px 16px;
    background: white;
    color: black;
    text-align: left;
    font-size: 14px;
}
.wide-box ion-input,.wide-box ion-input ion-datetime{
   border:1px solid lightgrey;
   background:white;
   color:#333;
   padding:5px;
}

.dont_have_account{
    color:white;
    text-decoration:none;
}

#guidelines
{      
    color:white;
    text-decoration: none;
}

.loginOptionsList li{
 background:white;
 padding:30px;
 list-style: none;
 display: inline-block;
 width:40%;
 height:20%;
 margin-right:20px;
 margin-bottom:20px;
}

.loginOptionsList li a {
    text-decoration:none;
    color:#333;
}

.loginOptionsList img{
    height:25px;
}

.loginOptionsList .login-list-text{
    bottom:5px;
    left:5px;
    position:relative;
}