page-host-event-documentation {

}

.skip_tutorial,.cancel_tut{
color:black;
text-decoration: none;
}

.skip_tutorial{
    text-decoration: underline;
}

.footer_tut_links{
        position:fixed;
        bottom:0px;
        left:0;
        width:100% !important;
        line-height:25px;
        background:#93BCC5;
        padding-bottom:60px;
        
}

.bottom_margin_addition{
    margin-bottom:150px;
}