<ion-header >
    <ion-navbar color="mixolo">
      <ion-title>
        FORGOT PASSWORD
      </ion-title>
    </ion-navbar>
</ion-header>

<ion-content text-center color="mixolo" >
<div class='login-box' *ngIf="!show" style="margin-top:50px">
    <ion-label>Email</ion-label>
    <ion-input type="email" text-center [(ngModel)]="email_address"></ion-input><br>
    <button color="danger" ion-button (click)="sendOTP()">SEND OTP</button><br>
</div>

<div class='login-box' *ngIf="show" style="margin-top:50px;">

  <ion-label>Email</ion-label>
  <ion-input type="email" text-center [(ngModel)]="email_addr"></ion-input><br>
  <ion-label>OTP</ion-label>
  <ion-input type="text" text-center [(ngModel)]="otp"></ion-input><br>
  <ion-label>New Password</ion-label>
  <ion-input type="password" text-center [(ngModel)]="new_password"></ion-input><br>
  <button color="danger" ion-button (click)="changePassword()">SEND</button><br>

</div>

</ion-content>