.item-ios{
    padding-left:0px;
}

.password_reset_button{
    border-radius: 4px;
    height: 25px;
    font-size: 13px;
    color: #fff;
    margin: 0.4rem 0.2rem;
    padding: 0 20px;
}

.submit_area{
    
    display:block;
    width:70%;
    margin:auto;
    margin-top:10%; 
    text-align: center;
}

.submit_area button{
    background:#93BCC5;
    color:black;
}

.submit_area a{
    text-decoration: none;
}